<div class="jumbotron text-center" style="margin-bottom:0">
    <h1>CPH Airport Control</h1>
    <p>Optimering af trafikafvikling</p>
</div>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a class="navbar-brand" href="/ground_crew_oversigt">Hjem</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/ground_crew_oversigt">Crew Oversigt</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/ground_crew_aktiviteter_arrival">Aktiviteter(arrival)</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/ground_crew_aktiviteter_departure">Aktiviteter(departure)</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/flyleder_jordkontrol_oversigt">Flyleder Oversigt</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/flyleder_jordkontrol_aktiviteter">Flyleder Aktiviteter</a>
            </li>
        </ul>
    </div>
</nav>